# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [22]:
phone_index_uk = 12
phone_index_fr = 12

print("phone_index_uk: ", id(phone_index_uk))
print("phone_index_fr: ", id(phone_index_fr))

phone_index_uk:  10751208
phone_index_fr:  10751208


Two variables have the same place in memory as long as in python variables with the value in range from -5 to 255 will use one place for memory efficency.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [114]:
isinstance(True, bool)

True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [115]:
age = 24
price = 11.3

addition = age + price
subtr = age - price
div = age / price
mult = age * price
full_div = age // price
modul_div = age % price
power = age ** price
print("Sum", addition )
print("Subtraction", subtr)
print("Division", div)
print("Multiplication", mult)
print("Full div", full_div)
print("Modul div", modul_div)
print("Power", power)

Sum 35.3
Subtraction 12.7
Division 2.1238938053097343
Multiplication 271.20000000000005
Full div 2.0
Modul div 1.3999999999999986
Power 3948089882967230.5

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [39]:
print(f"Rounded values for {age} and {price}")
print("Sum", int(addition))
print("Subtraction", int(subtr))
print("Division", int(div))
print("Multiplication", int(mult))
print("Full div", int(full_div))
print("Modul div", int(modul_div))
print("Power", int(power))

is_active = True
print("\nBoolean as integer: ", int(is_active))

Rounded values for 24 and 11.3
Sum 35
Subtraction 12
Division 2
Multiplication 271
Full div 2
Modul div 1
Power 3948089882967230

Boolean as integer:  1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [42]:
empty_string = " "
empty_string_funct = str()
print(f"empty_string: .{empty_string}.")
print(f"empty_string using funct: .{empty_string_funct}.")

empty_string: . .
empty_string using funct: ..

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на
екран.

In [45]:
ukr_word="papay\'a"
raw_ukr_word = r"papay\'a"

print(ukr_word)
print(raw_ukr_word)

papay'a
papay\'a

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [46]:
surname = "Karbovska"
print(f"My surname is {surname}")

My surname is Karbovska

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [47]:
shock = "My dog is crazy"
print(shock.split())

['My', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [51]:
mylist = ["apple", "banana", "cherry"]
mylistDiff = list(("apple", "banana", "cherry"))
print(len(mylist))
print(len(mylistDiff))

3
3

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [54]:
mylist = ["apple", "banana", "cherry"]
mylistnew = ["dog", "cat"]
mylist.append(mylistnew)
print(mylist)

['apple', 'banana', 'cherry', ['dog', 'cat']]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [55]:
mylist = [["apple", "banana", "cherry"],["persian", "cat"]]
print(mylist[-2])
# got the fist element fro the back

['apple', 'banana', 'cherry']

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [62]:
mylist = [["apple", "banana", "cherry"], "banan", 12, 12.2, None, True, {"nana"}, {"cat": "persian"}, ("nana",), 5+3j]
newlist = mylist[2:8]
print(newlist)

[12, 12.2, None, True, {'nana'}, {'cat': 'persian'}]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [63]:
mytuple= ("cat")

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

list = ["smth"]   - ordered,  allow duplicates, mutable (have methods)

---

tuple=("smth")  - ordered,  allow duplicates, immutable

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [75]:
my_fantasy= (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
even_num= my_fantasy[-1:0:-2]
print(even_num)

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [84]:
myset=set()
print(myset)
myset.add("cat")
myset.add("dog")
print(myset)

set()
{'dog', 'cat'}


Set is a collection which is unordered, unchangeable*, and do not allow duplicate values. To be more precised, SET itself is changeble, but its elements are not

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [88]:
my_list = [1, 1, 2, 67, 67, 8, 9]

print(set(my_list))

{1, 2, 67, 8, 9}

Repeated values dissapeared because set does not allow duplicate values

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [94]:
my_list = {"dog", "cat", "elephant"}
my_new_list = {"panda", "elephant"}

print(f"Unite: {my_list.union(my_new_list)}")
print(f"Diff: {my_list.difference(my_new_list)}")
print(f"Intersection: {my_list.intersection(my_new_list)}")
print(f"Symetric Intersection: {my_list.symmetric_difference(my_new_list)}")

Unite: {'dog', 'cat', 'elephant', 'panda'}
Diff: {'dog', 'cat'}
Intersection: {'elephant'}
Symetric Intersection: {'dog', 'panda', 'cat'}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [100]:
my_dict = dict()
print(my_dict)
my_dict["name"]="zlata"
my_dict[20]="age"
my_dict[None]="pet"
my_dict[("occupation")]="student"
print(my_dict)

{}
{'name': 'zlata', 20: 'age', None: 'pet', 'occupation': 'student'}

lists cannot be used as dictionary keys in Python.

Dictionary keys must be immutable (hashable).
Lists are mutable, meaning they can change after creation.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [102]:
my_new_dict={
    "age": 20,
    "hobbies": {
        "reading": "Jane Eyre",
        "favorite_animals": {
            "birds": "penguin"
                            }

              }
}

print(my_new_dict["hobbies"]["favorite_animals"]["birds"])

penguin

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.